Package: wer
Priority: optional
Maintainer: Can202 <mgoopazo@gmail.com>
Architecture: all
Version: 0.4
Depends: python3
Description: wer is a program to read file with terminal
 wer is a program to read file with terminal
